:root {
    --white: #ffffff;
    --gray-300: #767e86;
    --gray-100: #f5f6f7;
    --orange-100: #fff8f1;
    --orange-200: #ffd2c7;
    --orange-500: #ff7757;
    --orange-700: #ee6c4f;
  
    --yellow-100: #ffe8d4;
  
    --brown-900: #61291c;
    --brown-1000: #331811;
  
    --blue-900: #172432;
  
    --font-display: 'Playfair Display', serif;
    --defaut-font: 'Rubik', sans-serif;
  }

.destination-gallery {
  display: flex;
  gap: 100px;
  flex-direction: column;
  padding: 80px 16px 160px;
}

.destination-gallery .info h2 {
  color: var(--blue-900);
  font-family: 'Playfair Display', sans-serif;
  font-size: 5.5rem;
}

.destination-gallery .info hr {
  border: 1px solid var(--orange-500);
  margin: 20px 0 32px;
  opacity: 100%;
  width: 282px;
}

.destination-gallery .info p {
  color: var(--gray-300);
  font-size: 20px;
  line-height: 21px;
  font-family: var(--defaut-font);
}

.destination-gallery ul {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 32px;
  list-style: none;
  padding: 0;
  width: 100%;
}

.destination-gallery ul .owl-nav {
  display: flex;
}

.destination-gallery .owl-carousel .owl-nav button.owl-prev,
.destination-gallery .owl-carousel .owl-nav button.owl-next {
  border: none;
  border-radius: 8px;
  bottom: -100px;
  cursor: pointer;
  height: 5rem;
  position: absolute;
  width: 5rem;
}

.destination-gallery .owl-carousel .owl-nav button.owl-prev {
  background-color: var(--blue-900);
  color: var(--white);
  left: 35%;
}

.destination-gallery .owl-carousel .owl-nav button.owl-next {
  background-color: var(--orange-500);
  color: var(--white);
  right: 35%;
}

.destination-gallery .owl-carousel .owl-nav button.owl-prev:hover {
  background-color: #101822;
}

.destination-gallery .owl-carousel .owl-nav button.owl-next:hover {
  background-color: var(--orange-700);
}

.destination-gallery ul li {
  align-items: center;
  border-radius: 26px;
  display: flex;
  height: 320px;
  overflow: hidden;
  width: 100%;
}

.destination-gallery ul li img {
  border-radius: 26px;
  width: 100%;
}

@media (min-width: 320px) {
  .destination-gallery .owl-carousel .owl-nav button.owl-prev {
    left: 28%;
  }

  .destination-gallery .owl-carousel .owl-nav button.owl-next {
    right: 28%;
  }
}

@media (min-width: 375px) {
  .destination-gallery .owl-carousel .owl-nav button.owl-prev {
    left: 32%;
  }

  .destination-gallery .owl-carousel .owl-nav button.owl-next {
    right: 32%;
  }
}

@media (min-width: 360px) and (max-width:374px){
  .destination-gallery .owl-carousel .owl-nav button.owl-prev {
    left: 31%;
  }

  .destination-gallery .owl-carousel .owl-nav button.owl-next {
    right: 31%;
  }
}

@media (min-width: 425px) {
  .destination-gallery .owl-carousel .owl-nav button.owl-prev {
    left: 34%;
  }

  .destination-gallery .owl-carousel .owl-nav button.owl-next {
    right: 34%;
  }
}

@media (min-width: 768px) {
  .destination-gallery {
    padding: 80px 20px 160px;
  }

  .destination-gallery .info h2 {
    font-size: 5.5rem;
  }

  .destination-gallery ul li {
    height: 500px;
  }

  .destination-gallery .owl-carousel .owl-nav button.owl-prev {
    left: 41%;
  }

  .destination-gallery .owl-carousel .owl-nav button.owl-next {
    right: 42%;
  }
}

@media (min-width: 1024px) {
  .destination-gallery .owl-carousel .owl-nav button.owl-prev {
    left: auto;
    right:100px;
    top: -160px;
  }

  .destination-gallery .owl-carousel .owl-nav button.owl-next {
    left: auto;
    right: 18px;
    top: -160px;
  }
}

@media (min-width: 1152px) {
  .destination-gallery {
    padding: 140px 32px;
  }

  .destination-gallery .info h2 {
    font-size: 64px;
  }

  .destination-gallery .owl-carousel .owl-nav button.owl-prev,
  .destination-gallery .owl-carousel .owl-nav button.owl-next {
    top: -160px;
  }

  .destination-gallery .owl-carousel .owl-nav button.owl-prev {
    left: auto;
    right: 135px;
  }

  .destination-gallery .owl-carousel .owl-nav button.owl-next {
    left: auto;
    right: 53px;
  }

  .destination-gallery ul {
    flex-direction: row;
  }

  .destination-gallery ul li {
    height: auto;
  }

  .destination-gallery ul li:nth-child(2) {
    padding-bottom: 52px;
  }
}

@media (min-width: 1440px) {
  .destination-gallery {
    padding: 140px 32px;
  }
}

@media (min-width: 1920px) {
  .destination-gallery {
    padding: 140px 182px;
  }
}