:root {
    --white: #ffffff;
    --gray-300: #767e86;
    --gray-100: #f5f6f7;
    --orange-100: #fff8f1;
    --orange-200: #ffd2c7;
    --orange-500: #ff7757;
    --orange-700: #ee6c4f;
  
    --yellow-100: #ffe8d4;
  
    --brown-900: #61291c;
    --brown-1000: #331811;
  
    --blue-900: #172432;
  
    --font-display: 'Playfair Display', serif;
    --defaut-font: 'Rubik', sans-serif;
  }

#our-blog {
  padding: 140px 32px;
  display: flex;
  flex-direction: column;
  row-gap: 100px;
}
.header-our-blog h1 {
  font-family: var(--font-display);
  font-size: 6.4rem;
  color: var(--blue-900);
}

.header-our-blog hr {
  border: 1px solid var(--orange-500);
  margin: 20px 0 32px;
  opacity: 100%;
  width: 150px;
}

.header-our-blog p {
  font-family: var(--defaut-font);
  font-size: 1.8rem;
  color: var(--gray-300);
}

#content-our-blog {
  display: flex;
  column-gap: 32px;
  margin-top: -4rem;
}

#img-ourblog img {
  width: 672px;
  height: 802px;
  border-radius: 26px;
}

#content-text-ourblog h2 {
  font-family: var(--font-display);
  color: var(--blue-900);
  font-size: 5.4rem;
  font-weight: 400;
}

#content-text-ourblog p {
  font-family: var(--defaut-font);
  color: var(--blue-900);
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 52px;
  text-align: left;
  max-width: 800px;
}

#content-text-ourblog a {
  font-family: var(--defaut-font);
  color: var(--orange-500);
  font-size: 2.4rem;
  font-weight: 400;
}

#read-more {
  display: flex;
}

#read-more-button {
  color: var(--orange-500);
  text-decoration: none;
}

#read-more-button:hover {
  color: var(--orange-700);
}

.read-more-icon {
  margin-left: 1.5rem;
}

#content-text-ourblog span img {
  width: 24px;
  fill: var(--orange-500);
}

@media (min-width: 1441px) {
  #our-blog {
    margin-left: 7.5rem;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  #our-blog {
    margin-top: 1rem;
  }
}

@media (max-width: 1340px) {
  #img-ourblog img {
    width: 528px;
    height: 686px;
  }

  #content-text-ourblog p {
    font-size: 1.8rem;
    line-height: 42px;
  }

  #content-text-ourblog a {
    font-size: 1.8rem;
  }
}

@media (max-width: 1020px) {
  #our-blog {
    padding: 140px 20px;
    row-gap: 60px;
  }

  #content-our-blog {
    flex-direction: column;
    row-gap: 32px;
  }

  #img-ourblog img {
    width: 100%;
    height: 555px;
  }

  #content-text-ourblog p {
    max-width: 900px;
  }
}

@media (max-width: 500px) {
  .header-our-blog h1 {
    font-size: 5.4rem;
  }

  #content-text-ourblog h2 {
    font-size: 4rem;
  }

  #img-ourblog img {
    width: 100%;
    height: 314px;
  }
}

@media (min-width: 375px) and (max-width: 384px) {
  #our-blog {
    margin-top: 14rem;
  }
}

@media (max-width: 320px) {
  #our-blog {
    margin-top: 16rem;
  }
}