@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
  --white: #ffffff;
  --gray-300: #767e86;
  
  --orange-100: #FFF8F1;
  --orange-200: #ffd2c7;
  --orange-500: #ff7757;
  --orange-700: #ee6c4f;

  --yellow-100: #ffe8d4;

  --brown-900: #61291c;
  --brown-1000: #331811;

  --blue-900: #172432;

  --font-display: 'Playfair Display', serif;
  --defaut-font: 'Rubik', sans-serif;
}

* {
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%
  /* 1rem = 1px */
  max-width: 100%;
  overflow-x: hidden;
}

body{
  font-size: 1.6rem;
  /* 1rem = 1px */
}

.home {
  background-image: url(../assets/img/Hero\ Section.png);
  min-height: 100vh;
}

header {
  align-items: center;
  background-color: transparent;
  display: flex;
  font-size: 16px;
  justify-content: space-between;
  padding: 20px 32px;
  width: 100%;
}

header a {
  color: var(--white);
  font-weight: 400;
  text-decoration: none;
}

header .logo {
  width: 140px;
}

header nav {
  align-items: center;
  gap: 32px;
}

header nav a.active {
  font-weight: 500;
}

header nav a.active::after {
  background: var(--orange-500);
  content: '';
  display: block;
  height: 4px;
  width: 100%;
}

header nav a:not(.active):hover::after {
  animation: slideLeft 0.2s ease-out;
  background: var(--orange-500);
  content: '';
  display: block;
  height: 4px;
  width: 100%;
}

@keyframes slideLeft {
  from {
    width: 0px;
  }

  to {
    width: 100%;
  }
}

header div {
  align-items: center;
  gap: 36px;
}

header div a:not(.button):hover {
  opacity: 80%;
  transition: all 0.3s ease-in-out;
}

header div .button {
  background-color: var(--orange-500);
  border-radius: 6px;
  color: var(--white);
  padding: 12px 24px;
}

header div .button:hover {
  background-color: var(--orange-400);
  transition: all 0.3s ease-in-out;
}

.hamburger {
  background: transparent;
  border: none;
  height: 50px;
  width: 50px;
}

.hamburger:hover {
  opacity: 80%;
  transition: all 0.3s ease-in-out;
}

.hamburger img {
  width: 100%;
}

@media (min-width: 769px) {
  header {
    padding: 36px 32px;
  }

  header .logo {
    width: 200px;
  }
}

@media (min-width: 1920px) {
  header {
    padding: 40px 182px;
  }
}

.menu {
  align-items: center;
  background-color: var(--orange-500);
  display: none;
  flex-direction: column;
  position: absolute;
  top: -100%;
  width: 100%;
  background-color: var(--orange-500);
}

.menu.opened {
  animation: swipeDown 0.3s ease-in-out;
  display: flex;
  top: 0;
}

@keyframes swipeDown {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

.menu header {
  align-items: center;
  background-image: url(../assets/img/Hero\ Section.png);
  display: flex;
  justify-content: space-between;
  position: relative;
}

.menu nav {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  width: 100%;
}

.menu nav a {
  align-items: center;
  background-color: var(--orange-500);
  color: #ffffff;
  display: flex;
  font-weight: 400;
  justify-content: space-between;
  padding: 16px 20px;
  text-decoration: none;
}

.menu nav a img {
  opacity: 0;
  width: 40px;
}

.menu nav a:hover {
  background-color: var(--orange-400);
  transition: all 0.3s ease-in-out;
}

.menu nav a:hover > img {
  animation: slideRight 0.15s ease-in-out forwards;
  opacity: 1;
}

@keyframes slideRight {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(10px);
  }
}

.menu nav a.active {
  font-weight: 500;
}

.menu nav hr {
  border: 1px solid var(--white);
  margin: 0;
  opacity: 0.5;
}

.menu div {
  align-items: center;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  padding: 12px 20px;
  width: 100%;
}

.menu > hr {
  border: 1px solid var(--white);
  margin: 20px 0;
  opacity: 0.5;
  width: 60%;
}

.menu div a {
  background: var(--white);
  border-radius: 6px;
  color: var(--black);
  font-weight: 500;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.menu div a:hover {
  opacity: 80%;
  transition: all 0.3s ease-in-out;
}

/*============
HERO CONTENT 
============*/
#content-hero{
  padding-top: 10rem;
}

#content-hero > h1{
  color: var(--white);
  font-family: var(--font-display);
  font-weight: 400;
  font-size: 6rem;
  line-height: 8rem;
}

#content-hero > p{
  color: var(--white);
  font-family: var(--defaut-font);
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.8rem;
}

#form{
  display:flex ;
  margin-top: 17rem;
}

form{
  position: relative;
  background-color: var(--white);
  height: 21.6rem;
  max-width: 95rem;
  width: 100%;
  display: flex;
  gap: 4rem;
  flex-wrap: wrap;
  padding: 7rem 0 7rem 2rem;
  font-family: var(--defaut-font);
  margin-bottom: 20rem;
}

form p{
  text-transform: uppercase;
  color: #767E86;
}

form input{
  border-style: solid;
  border-bottom-width: 2px;
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
}

#book-now{
  background-color: var(--orange-500);
  width: 17rem;
  height: 216px;
  border-radius: 0 25px 25px 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}

#book-now:hover{
  filter: saturate(1.5);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

#book-now p{
  font-size: 3.6rem;
  font-family: var(--font-display);
  color: var(--white);
  width: 8.5rem;
  margin: 0;
}

#book-now p a{
  text-decoration: none;
  color: var(--white);
}

#book-now i{
  font-size: 3rem;
}

/*============
MEDIA QUERIES 
============*/

@media (min-width:1441px) and (max-width:1920px){
  #content-hero{
    padding-left: 1.8rem;
    margin-left: auto;
  }
}

@media (max-width:1440px){
  #content-hero{
    padding-left: 1.8rem;
    margin-left: auto;
  }
}

@media (max-width:1235px){
  form{
    height: 176px;
    padding: 5rem 0 5rem 2rem;
  }

  #book-now{
    height: 176px;
  }
}

@media (max-width:1152px){
  #content-hero > h1{
    font-size: 6.4rem;
    line-height: 8.5rem;
  }
}

@media (max-width:1080px){
  form{
    width: 950px;
    height: 215px;
    padding: 2rem 0 5rem 9rem;
    gap: 2.5rem;
  }

  #book-now{
    height: 216px;
  }
}

@media (max-width:1024px){
  form{
    width: 700px;
  }
}

@media (max-width:768px){
  #content-hero > h1{
    font-size: 5.4rem;
    line-height: 7.2rem;
  }

  #content-hero > p{
    font-size: 2rem;
    line-height: 2.4rem;
  }

  form{
    width: 500px;
    height: 216px;
    padding: 3.5rem 0 5rem 2rem;
    gap: 2.5rem;
  }
}

@media (max-width: 585px){
  #form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 12rem;
    padding-bottom: 8rem;
  }

  form{
    display: flex;
    justify-content: center;
    width: 288px;
    height: 595px;
    padding: 0px 0 50px 0;
    border-radius:10px 10px 0 0;
    gap: 0;
  }

  .information-form{
    padding: 2.5rem 0;
    margin-bottom: 0.8rem;
  }

  #book-now{
    width: 288px;
    height: 128px;
    border-radius: 0 0 10px 10px;
    margin-top: -20rem;
  }

  #book-now p{
    width: 200px;
  }
}

@media (max-width: 507px){
  #content-hero {
    font-size: 4rem;
    line-height: 5. 3rem;
    font-weight: lighter;
  }
}

@media (max-width: 450px){
  #content-hero > h1{
    font-size: 4rem;
    line-height: 5.3rem;
    font-weight: lighter;
  }

  #content-hero > p{
    font-size: 1.8rem;
    line-height: 2.1rem;
  }
}

/* Start of Special Offer Section Styling*/

.specialOffer {
  height: 74rem;
}

.specialOffer .container {
  max-width: 100%;
  height: 100%;

  max-width: 97.25rem;

  padding: 8.75rem 0rem 28.75rem 0rem;
}

.title h2 {
  font-family: "Playfair Display", serif;
  color: var(--blue-900);
  position: relative;


  font-size: 4rem;
  display: flex;
  justify-content: right;
}

.title h2::before {
  content: "";
  position: absolute;
  right: 0;
  background-color: var(--orange-500);
  height: 2px;
  box-sizing: border-box;

  bottom: -1.25rem;
  width: 21.6875rem;

  display: flex;
  justify-content: right;
}

.title p {
  margin-top: 3.25rem;
  font-size: 1.5rem;

  color: var(--gray-300);

  display: flex;
  justify-content: right;
}

.card {
  width: 31.0625rem;

  background-color: var(--orange-100);
  border: 0;
}

.card-body {
  padding: 2rem;
}

.card-title {
  font-weight: 400;

  color: var(--gray-300);
  font-size: 1.75rem;
} 

.card .stars img {
  width: 1.5rem;
  height: 1.5rem;
}

.card-text {
  font-family: "Rubik", sans-serif;
  font-size: 1.125rem;
  margin: 2rem 0rem 2rem 0rem;
  font-size: 1.125rem;
}

.price {
  display: flex;

  align-items: center;
}

.price span {
  font-family: "Rubik", sans-serif;
  font-size: 1.25rem;

  color: var(--gray-300);
  margin-right: 8px;
}

.price h6 {
  font-size: 2.5rem;
  color: var(--orange-500);
}

.footer {
  display: flex;
  justify-content: space-between;
}

.details {
  background-color: var(--orange-500);
  border: 0;
  border-radius: 12px;

  width: 9.9375rem;

  color: var(--white);
  margin-right: 1.5rem;
}
/* Styling Carousel*/
.owl-carousel {
  height: 100%;

  margin-top: 6.25rem;
}

.owl-carousel .owl-nav {
  display: flex;
  justify-content: start;

  position: absolute;
  top: -16rem;
  margin-left: 1.5rem;
}

.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel .owl-nav button.owl-next:hover {
  background-color: transparent;
}

.owl-carousel .owl-prev span {
  text-align: center;
  background-color: var(--blue-900);
  color: var(--white);

  border-radius: 12px;
}

.owl-carousel .owl-prev span:hover {
  background-color: #101822;
  transition: all 0.3s ease-in-out;
}

.owl-carousel .owl-next span {
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: var(--orange-500);
  color: var(--white);

  border-radius: 12px;
  margin: 0;
}

.owl-carousel .owl-next span:hover {
  background-color: var(--orange-700);
  transition: all 0.3s ease-in-out;
}

/* Media Query - Large desktops and medias with min with 1920px */
@media (min-width: 1920px) {
  /* Styling Carousel*/

  .owl-carousel .owl-nav {
    height: 4.125rem;
    margin-top: 5rem;
    margin-right: 2rem;
  }

  .owl-carousel .owl-prev span {
    font-size: 3.5rem;
    width: 3.75rem;
    height: 3.125rem;
    padding: 0rem 1.5rem 0.5rem 1.5rem;
  }

  .owl-carousel .owl-next span {
    font-size: 3.5rem;
    padding: 0rem 1.5rem 0.5rem 1.5rem;
  }
}

/* Media Query - medium desktops and medias with min with 1440px */
@media (min-width: 1440px) and (max-width: 1919px) {
  /* Styling Carousel*/

  .owl-carousel .owl-nav {
    height: 4.125rem;
    margin-top: 5rem;
    margin-right: 2rem;
  }

  .owl-carousel .owl-prev span {
    font-size: 3.5rem;
    width: 3.75rem;
    height: 3.125rem;
    padding: 0rem 1.5rem 0.5rem 1.5rem;
  }

  .owl-carousel .owl-next span {
    font-size: 3.5rem;
    padding: 0rem 1.5rem 0.5rem 1.5rem;
  }
}

/* Media Query - small desktops and medias with min with 1152px */
@media (min-width: 1152px) and (max-width: 1439px) {
  /* Styling Carousel*/

  .owl-carousel .owl-nav {
    height: 4.125rem;
    margin-top: 5rem;
    margin-right: 2rem;
  }

  .owl-carousel .owl-prev span {
    font-size: 3.5rem;
    width: 3.75rem;
    height: 3.125rem;
    padding: 0rem 1.5rem 0.5rem 1.5rem;
  }

  .owl-carousel .owl-next span {
    font-size: 3.5rem;
    padding: 0rem 1.5rem 0.5rem 1.5rem;
  }
}

/* Media Query - Tablets and medias with min with 768px */
@media (min-width: 768px) and (max-width: 1151px) {
  /* Styling Carousel*/

  .owl-carousel .owl-nav {
    height: 4.125rem;
    margin-top: 5rem;
    margin-right: 2rem;
  }

  .owl-carousel .owl-prev span {
    font-size: 3.5rem;
    width: 3.75rem;
    height: 3.125rem;
    padding: 0rem 1.5rem 0.5rem 1.5rem;
  }

  .owl-carousel .owl-next span {
    font-size: 3.5rem;
    padding: 0rem 1.5rem 0.5rem 1.5rem;
  }
}

/* Media Query - Smartphones and medias with min with 320px */
@media (min-width: 320px) and (max-width: 767px) {
  /* Styling Carousel*/

  .owl-carousel .owl-nav {
    display: flex;
    justify-content: center;

    height: 4.125rem;
    margin-top: 5rem;
    margin-right: 0rem;
  }

  .owl-carousel .owl-prev span {
    font-size: 3.5rem;
    width: 3.75rem;
    height: 3.125rem;
    padding: 0rem 1.5rem 0.5rem 1.5rem;

    margin-right: 1rem;
  }

  .owl-carousel .owl-next span {
    font-size: 3.5rem;
    padding: 0rem 1.5rem 0.5rem 1.5rem;
  }
}

/* Media Query - Galaxy Fold and medias with min with 220px */
@media (min-width: 220px) and (max-width: 319px) {
  /* Styling Carousel*/

  .owl-carousel .owl-nav {
    display: flex;
    justify-content: center;

    height: 4.125rem;
  }

  .owl-carousel .owl-prev span {
    font-size: 3.5rem;
    width: 3.75rem;
    height: 3.125rem;
    padding: 0rem 1.5rem 0.5rem 1.5rem;

  }

  .owl-carousel .owl-next span {
    font-size: 3.5rem;
    padding: 0rem 1.5rem 0.5rem 1.5rem;
  }
}

.trip_planners {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 80px 20px;
}

.trip_planners > div {
  max-width: 400px;
}

.trip_planners > div h2 {
  color: var(--blue-900);
  font-family: 'Playfair Display', sans-serif;
  font-size: 60px;
}

.trip_planners > div hr {
  border: 2px solid var(--orange-500);
  margin: 20px 0 32px;
  opacity: 100%;
  width: 231px;
}

.trip_planners > div p {
  color: var(--gray-300);
  font-size: 18px;
  line-height: 21px;
}

.trip_planners div button {
  background-color: var(--orange-500);
  border: none;
  border-radius: 16px;
  color: var(--white);
  font-size: 18px;
  margin-left: 14px;
  margin-top: 32px;
  padding: 20px;
  position: relative;
}

.trip_planners div button:hover {
  background-color: var(--orange-400);
  transition: all 0.3s ease-in-out;
}

.trip_planners div button::after {
  background: var(--blue-900);
  content: '';
  display: block;
  height: 40px;
  left: -14px;
  position: absolute;
  top: -14px;
  width: 40px;
  z-index: -10;
}

.trip_planners div button::before {
  background: var(--gray-300);
  bottom: -14px;
  content: '';
  display: block;
  height: 40px;
  position: absolute;
  right: -14px;
  width: 40px;
  z-index: -10;
}

.trip_planners ul {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
  list-style: none;
  padding: 0;
  width: 100%;
}

.trip_planners ul .trip_card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.trip_planners ul .trip_card > img {
  border-radius: 26px;
}

.trip_planners ul .trip_card > img.tablet {
  display: none;
}

.trip_planners ul .trip_card .info {
  color: var(--blue-900);
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.trip_planners ul .trip_card .info p {
  margin: 0;
}

.trip_planners ul .trip_card .info div {
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
  width: 100%;
}

.trip_planners ul .trip_card .info strong {
  font-family: 'Playfair Display', sans-serif;
  font-size: 28px;
}

.trip_planners ul .trip_card .info .rate span {
  align-items: center;
  display: flex;
  gap: 4px;
}

.trip_planners ul .trip_card .info .rate span img {
  width: 24px;
}

@media (min-width: 768px) and (max-width: 1151px) {
  .trip_planners ul .trip_card > img {
    display: none;
  }

  .trip_planners ul .trip_card > img.tablet {
    display: block;
  }

  .trip_planners ul .trip_card .info div {
    font-size: 24px;
  }

  .trip_planners ul .trip_card .info strong {
    font-size: 32px;
  }
}

@media (min-width: 1152px) {
  .trip_planners {
    align-items: center;
    flex-direction: row;
    padding: 140px 0;
    padding-left: 32px;
  }

  .trip_planners ul {
    flex-direction: row;
    gap: 32px;
    width: 545px;
  }

  .trip_planners ul .trip_card > img {
    display: block;
  }

  .trip_planners ul .trip_card > img.mobile {
    display: none;
  }

  .trip_planners ul .trip_card .info:not(.show) {
    display: none;
  }
}

@media (min-width: 1920px) {
  .trip_planners {
    gap: 100px;
    padding-left: 182px;
  }
}