:root {
    --white: #ffffff;
    --gray-300: #767e86;
    --gray-100: #f5f6f7;
    --orange-100: #fff8f1;
    --orange-200: #ffd2c7;
    --orange-500: #ff7757;
    --orange-700: #ee6c4f;
  
    --yellow-100: #ffe8d4;
  
    --brown-900: #61291c;
    --brown-1000: #331811;
  
    --blue-900: #172432;
  
    --font-display: 'Playfair Display', serif;
    --defaut-font: 'Rubik', sans-serif;
  }

.traveler .container {
  max-width: 100%;
  height: 100%;
  margin-top: -6rem;
}

.traveler .container .title h2 {
  font-family: 'Playfair Display', serif;
  font-size: 6rem;
  color: var(--blue-900);
  position: relative;
}

.traveler hr {
  border: 1px solid var(--orange-500);
  opacity: 100%;
  width: 340px;
  margin: 20px 0 32px;
}

.traveler .title p {
  font-size: 1.8rem;
  color: var(--gray-300);
  font-family: var(--defaut-font);
  font-weight: 400;
}

.traveler .stars img {
  width: 1.5rem;
  height: 1.5rem;
}

.traveler .card-box {
  position: relative;
  background-color: var(--gray-100);
  border-radius: 12px;
  z-index: 0;
}

.traveler .card-box .card-container p {
  color: var(--gray-300);
  justify-items: start;
}

.traveler .card-container h6 {
  font-family: 'Playfair Display', serif;
  color: var(--gray-300);
}

.traveler .card-container span {
  font-weight: 400;
  color: var(--gray-300);

  font-size: 1.125rem;
}

.traveler .card-box .img-area img {
  position: absolute;
}

/* Styling Carousel*/
.traveler .owl-carousel {
  height: 100%;
}

.traveler .owl-carousel .owl-nav {
  display: flex;
  justify-content: right;
}

.traveler .owl-carousel .owl-nav button.owl-prev {
  width: 5rem;
  height: 5rem;
  text-align: center;
  background-color: var(--blue-900);
  color: var(--white);
  border-radius: 8px;
  margin-right: 2rem;
}

.traveler .owl-carousel .owl-nav button.owl-prev:hover {
  background-color: #101822;
  transition: all 0.3s ease-in-out;
}

.traveler .owl-carousel .owl-nav button.owl-next {
  width: 5rem;
  height: 5rem;
  text-align: center;
  background-color: var(--orange-500);
  color: var(--white);
  border-radius: 8px;
}

.traveler .owl-carousel .owl-nav button.owl-next:hover {
  background-color: var(--orange-700);
  transition: all 0.3s ease-in-out;
}

/* Media Query - Large desktops and medias with min with 1920px */
@media (min-width: 1920px) {
  /* Start of Traveler Section styling */

  .traveler {
    height: 77.375rem;
    width: 100%;
    margin-left: 10rem;
  }

  .traveler .container {
    padding: 8.75rem 0rem 28.75rem 0rem;
  }

  .traveler .title h2 {
    font-size: 4rem;
  }

  .traveler .title p {
    margin-top: 3.25rem;
    font-size: 1.5rem;
  }

  .traveler .card-box {
    width: 41.4375rem;
    margin-top: 10rem;
  }

  .traveler .card-container {
    padding: 3.75rem 2.5rem 2.5rem 2.5rem;
  }

  .traveler .card-box .card-container p {
    font-size: 1.125rem;
  }

  .traveler .card-container h6 {
    margin-top: 1.25rem;
    font-size: 1.5rem;
  }

  .traveler .card-box .img-area img {
    width: 6.25rem;
    border-radius: 100rem;
    margin-left: 2.5rem;
    top: -3.75rem;
  }

  /* Styling Carousel*/

  .traveler .owl-carousel .owl-nav {
    height: 4.125rem;
    margin-top: 5rem;
    margin-right: 2rem;
  }
}

/* Media Query - medium desktops and medias with min with 1440px */
@media (min-width: 1440px) and (max-width: 1919px) {
  /* Start of Traveler Section styling */

  .traveler {
    height: 78.81rem;
    width: 100%;
  }

  .traveler .container {
    padding: 8.75rem 2rem 28.75rem 2rem;
  }

  .traveler .title h2 {
    font-size: 4rem;
  }

  .traveler .title p {
    margin-top: 3.25rem;
    font-size: 1.5rem;
  }

  .traveler .card-box {
    width: 36.375rem;
    margin-top: 10rem;
  }

  .traveler .card-container {
    padding: 3.75rem 2.5rem 2.5rem 2.5rem;
  }

  .traveler .card-box .card-container p {
    font-size: 1.125rem;
  }

  .traveler .card-container h6 {
    margin-top: 1.25rem;
    font-size: 1.5rem;
  }

  .traveler .card-box .img-area img {
    width: 6.25rem;
    border-radius: 100rem;
    margin-left: 2.5rem;
    top: -3.75rem;
  }

  /* Styling Carousel*/

  .traveler .owl-carousel .owl-nav {
    height: 4.125rem;
    margin-top: 5rem;
    margin-right: 2rem;
  }

  .traveler .owl-carousel .owl-nav button.owl-next {
    margin-right: 4rem;
  }

  .traveler .owl-carousel .owl-nav button.owl-prev {
    margin-right: 3rem;
  }
}

@media(min-width:1152px){
  .traveler{
    padding-left: 1.8rem;
    padding-right: 1.8rem;
  }
}
/* Media Query - small desktops and medias with min with 1152px */
@media (min-width: 1024px) and (max-width: 1439px) {
  /* Start of Traveler Section styling */
  .traveler {
    height: 78.81rem;
    margin-top: 6rem;
  }

  .traveler .container {
    padding: 8.75rem 0rem 28.75rem 2rem;
  }

  .traveler .title h2 {
    font-size: 4rem;
  }

  .traveler .title p {
    margin-top: 3.25rem;
    font-size: 1.8rem;
  }

  .traveler .card-box {
    width: 31.25rem;
    margin-top: 10rem;
  }

  .traveler .card-container {
    padding: 3.75rem 2.5rem 2.5rem 2.5rem;
  }

  .traveler .card-box .card-container p {
    font-size: 1.125rem;
  }

  .traveler .card-container h6 {
    margin-top: 1.25rem;
    font-size: 1.5rem;
  }

  .traveler .card-box .img-area img {
    width: 6.25rem;
    border-radius: 100rem;
    margin-left: 2.5rem;
    top: -3.75rem;
  }

  /* Styling Carousel*/

  .traveler .owl-carousel .owl-nav {
    height: 4.125rem;
    margin-top: 5rem;
    margin-right: 2rem;
  }

  .traveler .owl-carousel .owl-nav button.owl-next {
    margin-right: 2rem;
  }

  .traveler .owl-carousel .owl-nav button.owl-prev {
    margin-right: 2.5rem;
  }
}

@media (min-width: 1152px) and (max-width: 1439px) {
  .traveler .owl-carousel .owl-nav button.owl-next {
    margin-right: 6.5rem;
  }

  .traveler .owl-carousel .owl-nav button.owl-prev {
    margin-right: 2.5rem;
  }
}

/* Media Query - Tablets and medias with min with 768px */
@media (min-width: 768px) and (max-width: 1023px) {
  /* Start of Traveler Section styling */
  .traveler {
    height: 78.81rem;
    margin-top: 7rem;
  }

  .traveler .container {
    padding: 8.75rem 0rem 28.75rem 2rem;
  }

  .traveler .title h2 {
    font-size: 4rem;
  }

  .traveler .title p {
    margin-top: 3.25rem;
    font-size: 1.8rem;
  }

  .traveler .card-box {
    width: 31.25rem;
    margin-top: 10rem;
  }

  .traveler .card-container {
    padding: 3.75rem 2.5rem 2.5rem 2.5rem;
  }

  .traveler .card-box .card-container p {
    font-size: 1.125rem;
  }

  .traveler .card-container h6 {
    margin-top: 1.25rem;
    font-size: 1.5rem;
  }

  .traveler .card-box .img-area img {
    width: 6.25rem;
    border-radius: 100rem;
    margin-left: 2.5rem;
    top: -3.75rem;
  }

  /* Styling Carousel*/

  .traveler .owl-carousel .owl-nav {
    height: 4.125rem;
    margin-top: 5rem;
    margin-right: 19.5rem;
    justify-content: center;
  }

  .traveler .owl-carousel .owl-nav button.owl-prev {
    margin-left: 17rem;
  }
}

/* Media Query - Smartphones and medias with min with 320px */
@media (min-width: 320px) and (max-width: 767px) {
  /* Start of Traveler Section styling */
  .traveler {
    height: 80rem;
    margin-top: 7rem;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
  }

  .traveler .container {
    padding: 5rem 1rem 5rem 1rem;
  }

  .traveler .container .title h2 {
    font-size: 5rem;
  }

  .traveler hr {
    width: 230px;
  }

  .traveler .title p {
    margin-top: 3.25rem;
    font-size: 1.5rem;
  }

  .traveler .card-box {
    width: 20rem;
    margin-top: 10rem;
  }

  .traveler .card-container {
    padding: 3.75rem 2.5rem 2.5rem 2.5rem;
  }

  .traveler .card-box .card-container p {
    font-size: 1.125rem;
  }

  .traveler .stars {
    display: flex;
    justify-content: center;
  }

  .traveler .stars img {
    height: 1.4rem;
    width: 1.4rem;
  }

  .traveler .card-container h6 {
    margin-top: 1.25rem;
    font-size: 1.5rem;
  }

  .traveler .card-box .img-area img {
    width: 6.25rem;
    border-radius: 100rem;
    margin-left: 2.5rem;
    top: -3.75rem;
  }

  /* Styling Carousel*/

  .traveler .owl-carousel .owl-nav {
    display: flex;
    justify-content: center;

    height: 4.125rem;
    margin-top: 5rem;
    margin-right: 0rem;
  }
}

/* Media Query - Galaxy Fold and medias with min with 220px */
@media (min-width: 220px) and (max-width: 319px) {
  /* Start of Traveler Section styling */
  .traveler {
    height: 90rem;
  }

  .traveler .container {
    padding: 8.75rem 0.5rem 28.75rem 1rem;
  }

  .traveler .title h2 {
    font-size: 2.3rem;
  }

  .traveler .title p {
    margin-top: 3.25rem;
    font-size: 0.9rem;
  }

  .traveler .card-box {
    width: 14rem;
    margin-top: 5rem;
  }

  .traveler .card-container {
    padding: 2.75rem 2rem 2.75rem 2rem;
  }

  .traveler .card-box .card-container p {
    font-size: 0.9rem;
  }

  .traveler .card-container h6 {
    margin-top: 1.25rem;
    font-size: 1.2rem;
  }

  .traveler .card-container span {
    font-size: 1rem;
  }

  .traveler .card-box .img-area img {
    width: 6.25rem;
    border-radius: 100rem;
    margin-left: 2.5rem;
    top: -3.75rem;
  }

  /* Styling Carousel*/

  .traveler .owl-carousel .owl-nav {
    display: flex;
    justify-content: center;

    height: 4.125rem;
  }
}